## 1. 연산

Excel에서도 **sum이나 +, -** 기호로 셀과 셀 단위, 열과 열단위, 행과 행단위 연산이 가능합니다.

python에서도 마찬가지로 사칙 연산외 다양한 통계 연산 기능을 기본으로 제공해 줍니다.
(**사용법도 물론 매우 쉽습니다^^**)

## 2. 사칙연산 (+, -, /, *)

* 더하기 (+)
* 빼기 (-)
* 나누기 (/)
* 곱하기 (*)

In [0]:
a = 10
b = 3

### 더하기

In [0]:
# 코드를 입력하세요

13

In [0]:
10 + 234

244

### 빼기

In [0]:
# 코드를 입력하세요

7

### 나누기

In [0]:
# 코드를 입력하세요

3.3333333333333335

### 곱하기

In [0]:
# 코드를 입력하세요

30

## 3. 조금 생소할 수 있는 연산자 (%, //, **)

* %: 몫을 나눈 나머지를 구함
* //: 나눗셈에 대한 몫을 정수형으로 구함
* **: 제곱 연산

In [0]:
a = 10
b = 3

### %: 몫을 나눈 나머지

In [0]:
# 코드를 입력하세요

1

### //: 나눗셈에 대한 몫을 정수형으로 구함

In [0]:
# 코드를 입력하세요

3.3333333333333335

In [0]:
# 코드를 입력하세요

3

### ** 제곱 연산

In [0]:
# 코드를 입력하세요

1000

In [0]:
10 ** 2

100

## 4. 수학 연산할 때와 마찬가지로, *, /을 먼저 계산하며, 괄호 ()를 활용할 수 있습니다.

In [0]:
10 + 2 * 5

20

In [0]:
(10 + 2) * 5

60

## 5. 문자열의 연산

In [0]:
a = '반갑습니다.'
b = '테디입니다.'

In [0]:
# 코드를 입력하세요

'반갑습니다.테디입니다.'

In [0]:
a - b

TypeError: ignored

In [0]:
a * b

TypeError: ignored

In [0]:
a / b

TypeError: ignored

### 5-1. 다음과 같은 경우는 어떻게 될까요?

In [0]:
a = '10'
b = '20'

In [0]:
a + b

'1020'